body {
	margin: 0;
    padding: 20px;
}

#wrapper {
    width: 1536px;
    height: 768px;
    margin: 0 auto;
    position: fixed;
    background: url('../img/san-fran-skyline.jpg');
}

.content{
    position: absolute;
    overflow: hidden;
    background: transparent;
}

canvas{
    z-index: 10;
    position: absolute;
}

.animation1{
    width: 100px;
    height: 100px;
    border: 5px solid #FFFFFF;
    border-radius: 55px;
    left: 80px;
    top: 465px;
}

.bg1{
    background: url('../img/san-fran-skyline.jpg');
    width: 2304px;
    background-repeat: no-repeat;
    height: 1152px;
    position: absolute;
    left: -120px;
    top: -698px;
}

.animation2{
    width: 150px;
    height: 150px;
    border: 5px solid #FFFFFF;
    border-radius: 80px;
    left: 500px;
    top: 480px;
}

.bg2{
    background: url('../img/san-fran-skyline.jpg');
    width: 2304px;
    background-repeat: no-repeat;
    height: 1152px;
    position: absolute;
    left: -750px;
    top: -720px;
}

.animation3{
    width: 130px;
    height: 130px;
    border: 5px solid #FFFFFF;
    border-radius: 80px;
    left: 580px;
    top: 320px;
}

.bg3{
    background: url('../img/san-fran-skyline.jpg');
    width: 2304px;
    background-repeat: no-repeat;
    height: 1152px;
    position: absolute;
    left: -870px;
    top: -480px;
}

.animation4{
    width: 80px;
    height: 80px;
    border: 5px solid #FFFFFF;
    border-radius: 50px;
    left: 910px;
    top: 410px;
}

.bg4{
    background: url('../img/san-fran-skyline.jpg');
    width: 2304px;
    background-repeat: no-repeat;
    height: 1152px;
    position: absolute;
    left: -1365px;
    top: -615px;
}
