/* Table of Content
==================================================
	#Global Styles
	#Custom CSS Foundation 5.0.2
	#Themes Styles
	#Media queries are built using ems in Foundation. */



/* #Global Styles
================================================== */



/* Style */
body {
	background-color: #fff;
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #333;
}



/* Link */
a {
	color: #43ac6a;
	-webkit-transition: 0.25s;
			transition: 0.25s;
}
a:hover {
	color: #3c9a5f;
	text-decoration: underline;
}
a:focus {
	outline: none;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}

/* Heading + paragraf */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 400 !important;
	color: #444;
	line-height: 1.3;
	margin-bottom: 0.8125rem;
}
p {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	line-height: 1.4;
	margin-bottom: 0.8125rem;
}
p.lead {
	line-height: 1.4;
}



/* Custom margin */
.margin-top {
	margin-top: 1.875rem;
}
.margin-right {
	margin-right: 1.875rem;
}
.margin-bottom {
	margin-bottom: 1.875rem;
}
.margin-left {
	margin-left: 1.875rem;
}



/* Selection */
::selection {
	background-color: #13a7c7;
	color: #fff;
	text-shadow: none;
}



/* Horizontal rule */
hr.line {
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	border: 0;
}



/* Border bottom */
.line {
	display: block;
	width: 50px;
	height: 4px;
	background-color: #333;
	margin: 0 auto 1.875rem;
}



/* #Custom CSS Foundation 5.0.2
================================================== */



/* Buttons */
button,
.button {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 0.8125rem;
	text-transform: uppercase;
	text-decoration: none;
}
button:hover,
.button:hover {
	text-decoration: none;
}
button:focus,
.button:focus {
	text-decoration: none;
	outline: none;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
button.tiny,
.button.tiny {
	font-size: 0.625rem;
}
button.block,
.button.block {
	width: 100% !important;
}
button.dark,
.button.dark {
	background-color: #444;
	color: #fff;
	border-color: #252525;
}
	button.dark:hover,
	.button.dark:hover,
	button.dark:focus,
	.button.dark:focus {
		background-color: #252525;
		color: #fff;
	}



/* Input */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	height: 2.875rem;
	font-size: 1rem;
	font-style: italic;
	border-width: 2px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: 0.25s;
			transition: 0.25s;
}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="date"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="month"]:focus,
	input[type="week"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="time"]:focus,
	input[type="url"]:focus,
	textarea:focus {
		border-color: #999;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
		outline: none;
		outline: 0 auto -webkit-focus-ring-color;
		outline-offset: 0;
	}
		textarea {
			height: 8.375rem;
		}



/* Preformatted text */
pre {
	display: block;
	background-color: #f6f6f6;
	font-size: 0.8125rem;
	color: #555;
	line-height: 1.428571429;
	border: 2px solid #e2e2e2;
	border-radius: 4px;
	margin: 0 0 1.25rem;
	margin-bottom: ;
	padding: 9.5px;
	word-break: break-all;
	word-wrap: break-word;
}



/* Images thumbnails */
.th:hover,
.th:focus {
	-webkit-box-shadow: 0 0 6px 1px rgba(26, 26, 26, 0.5);
			box-shadow: 0 0 6px 1px rgba(26, 26, 26, 0.5);
}



/* #Themes Styles
================================================== */



/* Header */
.header {
	background-color: #333;
	text-align: center;
	padding: 1.25rem 0;
}
	.header h3 {
		font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		font-weight: 400 !important;
		margin: 0;
	}
	.header h3 a,
	.header h3 a:hover {
		color: #fff;
	}
		.header h3 a:hover {
			text-decoration: none;
		}
			.header .fi-foundation {
				color: #13a7c7;
			}



/* Content */
.content {
	padding: 3.438rem 0 4.375rem;
}
.content h2 {
	text-align: center;
	margin-bottom: 5px;
}
.content h5 {
	font-weight: 700 !important;
}
.content hr {
	margin: 2.5rem 0;
}
.content pre {
	margin-left: 1.5rem;
}
.content-list {
	margin: 0 0 0.8125rem 1.438rem;
	padding-left: 0;
	list-style: none;
}
	.content-list li {
		font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		text-indent: -1.438rem;
	}
	.content-list li:before {
		font-family: "foundation-icons";
		content: "\f1ee";
		padding-right: 10px;
	}
pre.padding-left {
	margin-left: 0;
}



/* Footer */
.footer {
	background-color: #fff;
	color: #333;
	text-align: center;
	padding: 1.125rem 0;
}
	.footer p {
		margin: 0;
	}
		.footer .fi-heart {
			color: #fd487d;
			margin: 0 2px;
		}
/** Social media **/
.social-media {
	text-align: right;
	margin: 0;
	padding-left: 0;
	list-style: none;
}
	.social-media li {
		display: inline-block;
		line-height: 1;
		margin-right: 8px;
		padding: 0;
	}
	.social-media li:last-child {
		margin-bottom: 0;
	}
		.social-media a {
			font-size: 1.625rem;
			color: #333;
		}
		.social-media a:hover {
			color: #43ac6a;
			text-decoration: none;
		}



/* Footer */
.footer {
	background-color: #333;
	color: #fff;
	padding: 1.125rem 0;
}
	.footer p {
		text-align: left;
		margin: 0;
	}
		.footer .fi-heart {
			color: #fd487d;
			margin: 0 2px;
		}
/** Social media **/
.social-media {
	text-align: right;
	margin: 9px 0 0 0;
	padding-left: 0;
	list-style: none;
}
	.social-media li {
		display: inline-block;
		line-height: 1;
		margin-right: 8px;
		padding: 0;
	}
	.social-media li:last-child {
		margin-bottom: 0;
	}
		.social-media a {
			font-size: 2.25rem;
			color: #fff;
		}
		.social-media a:hover {
			color: #43ac6a;
			text-decoration: none;
		}



/* #Media queries are built using ems in Foundation.
============================================================================ */



/* Max-width 40rem = 640px */
@media only screen and (max-width: 40rem)  {
	.footer p,
	.social-media {
		text-align: center;
	}
}